body { 
	padding: 10px;
	min-width: 500px;
}
#options, #calls_history {
	display: none;
}
#connection, #calls {
	cursor: pointer;
}
label {
	width: 100%;
	padding-bottom: 15px;
    display: block;
}
label input, label span {
	width: 100%;
	display: inline-block;
}
.half {
	width: 220px;
	float: left;
	padding: 0 15px;
}
.clear {
	clear: both;
	float: none;
	width: 100%;
}
#cstatus {
	color: red;
}
#cstatus.connected {
	color: green;
}